/*////////////////////////////// */
/* Nav Component
/* ///////////////////////////  */

header {
  text-align: center;
}

header nav {
  display: flex;
<<<<<<< HEAD
  justify-content: center;
=======
  justify-content: space-around;
>>>>>>> 50a49bdb4077b1179cae7d11dfff58bc96ccb879
}

header nav a {
 color: green;
 text-decoration: none;
}

header nav div { 
<<<<<<< HEAD
  font-size: large;
  background-color: rosybrown;
  color: black;
  width: 100px;
  border-radius: 15px;
  transition: background-color .2s, color .2s;
  padding: 0px;
=======
  font-size: larger;
  background-color: grey;
  color: white;
  width: 200px;
  border-radius: 7px;
  transition: background-color .2s, color .2s;
  padding: 10px;
>>>>>>> 50a49bdb4077b1179cae7d11dfff58bc96ccb879
}

header nav div:hover {
  background-color: black;
  color: green;
}

/*                        */
/* Auth 
/*                            */

.auth {
  padding: 50px;
}

<<<<<<< HEAD
.form {
  display: flexbox;
  justify-content: space-around;
}

=======
>>>>>>> 50a49bdb4077b1179cae7d11dfff58bc96ccb879
.auth form input .form form input button {
  background-color: grey;
  color: white;
  padding: 8px;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 1.2em;
}


/*     Dashboard      */
.dashboard {
  text-align: center;

}

.dashboard .vinyl {
  text-align: center;
<<<<<<< HEAD
  width: 50%;
  margin: 5px auto;
  border: 1px solid grey;
=======
  width: 90%;
  margin: 10px;
  border: 3px solid grey;
>>>>>>> 50a49bdb4077b1179cae7d11dfff58bc96ccb879

}