/*////////////////////////////// */
/* Nav Component
/* ///////////////////////////  */

header {
  text-align: center;
}

header nav {
  display: flex;
  justify-content: space-around;
}

header nav a {
 color: green;
 text-decoration: none;
}

header nav div { 
  font-size: larger;
  background-color: grey;
  color: white;
  width: 200px;
  border-radius: 7px;
  transition: background-color .2s, color .2s;
  padding: 10px;
}

header nav div:hover {
  background-color: black;
  color: green;
}

/*                        */
/* Auth 
/*                            */

.auth {
  padding: 50px;
}

.auth form input .form form input button {
  background-color: grey;
  color: white;
  padding: 8px;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 1.2em;
}


/*     Dashboard      */
.dashboard {
  text-align: center;

}

.dashboard .vinyl {
  text-align: center;
  width: 50px;
  margin: 10px;
  border: 3px solid grey;

}